local.settings.json

.idea/

*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/

Thumbs.db
Desktop.ini
.DS_Store

.venv/
.env

__pycache__/

/*.csv
/tools/*.csv
init_azure.sh
azure-credentials.json

TODOs.md
